In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/hacc.csv')
df.head()

,Charge Station Name,Session Initiated By,Start Time,End Time,Duration,Energy(kWh),Session Amount,Session Id,Port Type,Payment Mode
0,A,MOBILE,9/1/2018 7:25,9/1/2018 7:53,0:28:29,8.84,$4.77,3168811,CHADEMO,RFID
1,A,MOBILE,9/1/2018 8:03,9/1/2018 8:34,0:31:18,22.02,$11.89,3168847,CHADEMO,CREDITCARD
2,A,MOBILE,9/1/2018 10:24,9/1/2018 10:25,0:00:18,0.00,$0.00,3169011,CHADEMO,RFID
3,A,MOBILE,9/1/2018 10:26,9/1/2018 11:02,0:36:04,23.80,$11.66,3169015,CHADEMO,RFID
4,A,MOBILE,9/1/2018 11:07,9/1/2018 11:39,0:31:17,9.87,$4.84,3169054,CHADEMO,RFID

In [15]:
print(df.columns)
df.columns = ['name', 'session_type', 'start_time', 'end_time', 'duration', 'energy', 'amount', 'id', 'port_type', 'payment_mode']
print(df.columns)

Index(['name', 'session_type', 'start_time', 'end_time', 'duration', 'energy',
       'amount', 'id', 'port_type', 'payment_mode'],
      dtype='object')
Index(['name', 'session_type', 'start_time', 'end_time', 'duration', 'energy',
       'amount', 'id', 'port_type', 'payment_mode'],
      dtype='object')

In [16]:
df.dtypes

name                    object
session_type            object
start_time      datetime64[ns]
end_time        datetime64[ns]
duration                object
energy                 float64
amount                  object
id                       int64
port_type               object
payment_mode            object
dtype: object

In [18]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

# Changes the payment amount to a raw float value instead of a string of the form "$X.XX"
df['amount'] = df['amount'].replace('[\$,]', '', regex=True).astype(float)
df.head()

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode
0,A,MOBILE,2018-09-01 07:25:00,2018-09-01 07:53:00,0:28:29,8.84,4.77,3168811,CHADEMO,RFID
1,A,MOBILE,2018-09-01 08:03:00,2018-09-01 08:34:00,0:31:18,22.02,11.89,3168847,CHADEMO,CREDITCARD
2,A,MOBILE,2018-09-01 10:24:00,2018-09-01 10:25:00,0:00:18,0.00,0.00,3169011,CHADEMO,RFID
3,A,MOBILE,2018-09-01 10:26:00,2018-09-01 11:02:00,0:36:04,23.80,11.66,3169015,CHADEMO,RFID
4,A,MOBILE,2018-09-01 11:07:00,2018-09-01 11:39:00,0:31:17,9.87,4.84,3169054,CHADEMO,RFID

In [26]:
# Checking for missing values
missing = df[(df['energy'] == 0) | (df['amount'] == 0)]

   name session_type          start_time            end_time duration  energy  \
2     A       MOBILE 2018-09-01 10:24:00 2018-09-01 10:25:00  0:00:18     0.0
14    A       DEVICE 2018-09-01 20:19:00 2018-09-01 20:19:00  0:00:18     0.0
15    A       DEVICE 2018-09-01 20:21:00 2018-09-01 20:21:00  0:00:18     0.0
20    A       DEVICE 2018-09-02 12:11:00 2018-09-02 12:12:00  0:00:17     0.0
21    A       DEVICE 2018-09-02 12:12:00 2018-09-02 12:13:00  0:00:18     0.0

    amount       id port_type payment_mode
2      0.0  3169011   CHADEMO         RFID
14     0.0  3169515   CHADEMO   CREDITCARD
15     0.0  3169516   CHADEMO   CREDITCARD
20     0.0  3170042   CHADEMO   CREDITCARD
21     0.0  3170043   CHADEMO   CREDITCARD