In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/hacc.csv')
df.head()

,Charge Station Name,Session Initiated By,Start Time,End Time,Duration,Energy(kWh),Session Amount,Session Id,Port Type,Payment Mode
0,A,MOBILE,9/1/2018 7:25,9/1/2018 7:53,0:28:29,8.84,$4.77,3168811,CHADEMO,RFID
1,A,MOBILE,9/1/2018 8:03,9/1/2018 8:34,0:31:18,22.02,$11.89,3168847,CHADEMO,CREDITCARD
2,A,MOBILE,9/1/2018 10:24,9/1/2018 10:25,0:00:18,0.00,$0.00,3169011,CHADEMO,RFID
3,A,MOBILE,9/1/2018 10:26,9/1/2018 11:02,0:36:04,23.80,$11.66,3169015,CHADEMO,RFID
4,A,MOBILE,9/1/2018 11:07,9/1/2018 11:39,0:31:17,9.87,$4.84,3169054,CHADEMO,RFID

In [3]:
len(df)

10452

In [4]:
print(df.columns)
df.columns = ['name', 'session_type', 'start_time', 'end_time', 'duration', 'energy', 'amount', 'id', 'port_type', 'payment_mode']
print(df.columns)

Index(['Charge Station Name', 'Session Initiated By', 'Start Time', 'End Time',
       'Duration', 'Energy(kWh)', 'Session Amount', 'Session Id', 'Port Type',
       'Payment Mode'],
      dtype='object')
Index(['name', 'session_type', 'start_time', 'end_time', 'duration', 'energy',
       'amount', 'id', 'port_type', 'payment_mode'],
      dtype='object')

In [5]:
df.dtypes

name             object
session_type     object
start_time       object
end_time         object
duration         object
energy          float64
amount           object
id                int64
port_type        object
payment_mode     object
dtype: object

In [6]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

# Changes the payment amount to a raw float value instead of a string of the form "$X.XX"
df['amount'] = df['amount'].replace('[\$,]', '', regex=True).astype(float)
df.head()

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode
0,A,MOBILE,2018-09-01 07:25:00,2018-09-01 07:53:00,0:28:29,8.84,4.77,3168811,CHADEMO,RFID
1,A,MOBILE,2018-09-01 08:03:00,2018-09-01 08:34:00,0:31:18,22.02,11.89,3168847,CHADEMO,CREDITCARD
2,A,MOBILE,2018-09-01 10:24:00,2018-09-01 10:25:00,0:00:18,0.00,0.00,3169011,CHADEMO,RFID
3,A,MOBILE,2018-09-01 10:26:00,2018-09-01 11:02:00,0:36:04,23.80,11.66,3169015,CHADEMO,RFID
4,A,MOBILE,2018-09-01 11:07:00,2018-09-01 11:39:00,0:31:17,9.87,4.84,3169054,CHADEMO,RFID

In [7]:
df[df['duration'].str.contains('-')]['duration']

1119    -15:-38:-1
Name: duration, dtype: object

## Data Errors
Types of errors found:
1. Positive energy, Zero amount -- Resolution: ?
2. Positive amount, Zero energy -- Resolution: ?

In [8]:
# Checking for any missing values
missing = df[(df['energy'] == 0) | (df['amount'] == 0)]
print(len(missing))
missing.head()

2158

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode
2,A,MOBILE,2018-09-01 10:24:00,2018-09-01 10:25:00,0:00:18,0.0,0.0,3169011,CHADEMO,RFID
14,A,DEVICE,2018-09-01 20:19:00,2018-09-01 20:19:00,0:00:18,0.0,0.0,3169515,CHADEMO,CREDITCARD
15,A,DEVICE,2018-09-01 20:21:00,2018-09-01 20:21:00,0:00:18,0.0,0.0,3169516,CHADEMO,CREDITCARD
20,A,DEVICE,2018-09-02 12:11:00,2018-09-02 12:12:00,0:00:17,0.0,0.0,3170042,CHADEMO,CREDITCARD
21,A,DEVICE,2018-09-02 12:12:00,2018-09-02 12:13:00,0:00:18,0.0,0.0,3170043,CHADEMO,CREDITCARD

In [9]:
# Anyone who charges their car but doesn't pay is a "thief" -- correctable if we just use HECO formula?
# Question: Is this ALWAYS just a data issue or do some people actually get away without paying?
thieves = df[(df['energy'] > 0) & (df['amount'] == 0)]
print(len(thieves))
thieves.head()

404

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode
688,A,DEVICE,2018-10-15 08:57:00,2018-10-15 09:01:00,0:04:03,1.03,0.0,3240471,CHADEMO,RFID
1119,A,DEVICE,2018-11-13 08:21:00,2018-11-12 16:43:00,-15:-38:-1,59.07,0.0,3288825,CHADEMO,CREDITCARD
1864,A,DEVICE,2019-01-09 16:01:00,2019-01-09 16:35:00,0:33:56,5.97,0.0,3385048,CHADEMO,CREDITCARD
1940,A,MOBILE,2019-01-13 08:07:00,2019-01-13 08:08:00,0:00:30,0.06,0.0,3391560,CHADEMO,RFID
1990,A,WEB,2019-01-15 10:46:00,2019-01-15 11:13:00,0:27:21,13.38,0.0,3395084,CHADEMO,RFID

In [10]:
# Anyone who used 0 energy but still paid got "jipped"
jipped = df[(df['energy'] == 0) & (df['amount'] > 0)]
print(len(jipped))
jipped.head()

0

Empty DataFrame
Columns: [name, session_type, start_time, end_time, duration, energy, amount, id, port_type, payment_mode]
Index: []

In [11]:
dates = df['start_time'].dt.date
df['date'] = dates
df['date']

0        2018-09-01
1        2018-09-01
2        2018-09-01
3        2018-09-01
4        2018-09-01
5        2018-09-01
6        2018-09-01
7        2018-09-01
8        2018-09-01
9        2018-09-01
10       2018-09-01
11       2018-09-01
12       2018-09-01
13       2018-09-01
14       2018-09-01
15       2018-09-01
16       2018-09-01
17       2018-09-02
18       2018-09-02
19       2018-09-02
20       2018-09-02
21       2018-09-02
22       2018-09-02
23       2018-09-02
24       2018-09-02
25       2018-09-02
26       2018-09-02
27       2018-09-02
28       2018-09-02
29       2018-09-02
            ...
10422    2019-08-29
10423    2019-08-29
10424    2019-08-29
10425    2019-08-29
10426    2019-08-29
10427    2019-08-30
10428    2019-08-30
10429    2019-08-30
10430    2019-08-30
10431    2019-08-30
10432    2019-08-30
10433    2019-08-30
10434    2019-08-30
10435    2019-08-30
10436    2019-08-30
10437    2019-08-30
10438    2019-08-31
10439    2019-08-31
10440    2019-08-31
10441    2019-08-31
10442    2019-08-31
10443    2019-08-31
10444    2019-08-31
10445    2019-08-31
10446    2019-08-31
10447    2019-08-31
10448    2019-08-31
10449    2019-08-31
10450    2019-08-31
10451    2019-08-31
Name: date, Length: 10452, dtype: object

In [12]:
df['day_of_week'] = df['start_time'].dt.day_name()
df['day_of_week']

0        Saturday
1        Saturday
2        Saturday
3        Saturday
4        Saturday
5        Saturday
6        Saturday
7        Saturday
8        Saturday
9        Saturday
10       Saturday
11       Saturday
12       Saturday
13       Saturday
14       Saturday
15       Saturday
16       Saturday
17         Sunday
18         Sunday
19         Sunday
20         Sunday
21         Sunday
22         Sunday
23         Sunday
24         Sunday
25         Sunday
26         Sunday
27         Sunday
28         Sunday
29         Sunday
           ...
10422    Thursday
10423    Thursday
10424    Thursday
10425    Thursday
10426    Thursday
10427      Friday
10428      Friday
10429      Friday
10430      Friday
10431      Friday
10432      Friday
10433      Friday
10434      Friday
10435      Friday
10436      Friday
10437      Friday
10438    Saturday
10439    Saturday
10440    Saturday
10441    Saturday
10442    Saturday
10443    Saturday
10444    Saturday
10445    Saturday
10446    Saturday
10447    Saturday
10448    Saturday
10449    Saturday
10450    Saturday
10451    Saturday
Name: day_of_week, Length: 10452, dtype: object

## Time of Day
Noting from his slides:

Times:
- On Peak: 5pm - 10pm => 17:00 - 22:00, Daily
- Mid Day: 9am - 5pm => 9:00 => 17:00, Daily
- Off Peak: 10pm - 9am => 22:00 - 9:00, Daily

Cost:
- On Peak: \$0.57
- Mid Day: \$0.49
- Off Peak: \$0.54

In [13]:
import datetime as dt
start_times = df['start_time'].dt.time
df['on_peak'] = (dt.time(17, 0, 0) <= start_times) & (start_times < dt.time(22, 0, 0))
df['mid_day'] = (dt.time(9, 0, 0) <= start_times) & (start_times < dt.time(17, 0, 0))
df['off_peak'] = (dt.time(22, 0, 0) <= start_times) | (start_times < dt.time(9, 0, 0))
df.head()

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode,date,day_of_week,on_peak,mid_day,off_peak
0,A,MOBILE,2018-09-01 07:25:00,2018-09-01 07:53:00,0:28:29,8.84,4.77,3168811,CHADEMO,RFID,2018-09-01,Saturday,False,False,True
1,A,MOBILE,2018-09-01 08:03:00,2018-09-01 08:34:00,0:31:18,22.02,11.89,3168847,CHADEMO,CREDITCARD,2018-09-01,Saturday,False,False,True
2,A,MOBILE,2018-09-01 10:24:00,2018-09-01 10:25:00,0:00:18,0.00,0.00,3169011,CHADEMO,RFID,2018-09-01,Saturday,False,True,False
3,A,MOBILE,2018-09-01 10:26:00,2018-09-01 11:02:00,0:36:04,23.80,11.66,3169015,CHADEMO,RFID,2018-09-01,Saturday,False,True,False
4,A,MOBILE,2018-09-01 11:07:00,2018-09-01 11:39:00,0:31:17,9.87,4.84,3169054,CHADEMO,RFID,2018-09-01,Saturday,False,True,False

## Error Checking
Checking if each columns are in agreement with each other
1. Does cost match with the amount of energy for the given time period?

In [14]:
df['calculated_amount'] = df['energy'] * df['on_peak'] * 0.57 + df['energy'] * df['mid_day'] * 0.49 + df['energy'] * df['off_peak'] * 0.54
df['rounded_calculated_amount'] = np.round(df['calculated_amount'], 2)
correct = df[(df['amount'] == df['rounded_calculated_amount'])]
err = df[~(df['amount'] == df['rounded_calculated_amount'])]
correct.head()

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode,date,day_of_week,on_peak,mid_day,off_peak,calculated_amount,rounded_calculated_amount
0,A,MOBILE,2018-09-01 07:25:00,2018-09-01 07:53:00,0:28:29,8.84,4.77,3168811,CHADEMO,RFID,2018-09-01,Saturday,False,False,True,4.7736,4.77
1,A,MOBILE,2018-09-01 08:03:00,2018-09-01 08:34:00,0:31:18,22.02,11.89,3168847,CHADEMO,CREDITCARD,2018-09-01,Saturday,False,False,True,11.8908,11.89
2,A,MOBILE,2018-09-01 10:24:00,2018-09-01 10:25:00,0:00:18,0.00,0.00,3169011,CHADEMO,RFID,2018-09-01,Saturday,False,True,False,0.0000,0.00
3,A,MOBILE,2018-09-01 10:26:00,2018-09-01 11:02:00,0:36:04,23.80,11.66,3169015,CHADEMO,RFID,2018-09-01,Saturday,False,True,False,11.6620,11.66
4,A,MOBILE,2018-09-01 11:07:00,2018-09-01 11:39:00,0:31:17,9.87,4.84,3169054,CHADEMO,RFID,2018-09-01,Saturday,False,True,False,4.8363,4.84

In [15]:
err[np.abs(err['amount'] - err['rounded_calculated_amount']) == 0.01]#[['amount', 'rounded_calculated_amount', 'calculated_amount']]

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode,date,day_of_week,on_peak,mid_day,off_peak,calculated_amount,rounded_calculated_amount
3187,A,MOBILE,2019-03-19 09:34:00,2019-03-19 09:35:00,0:00:23,0.02,0.0,3524654,CHADEMO,RFID,2019-03-19,Tuesday,False,True,False,0.0098,0.01
3847,A,DEVICE,2019-04-28 17:46:00,2019-04-28 17:47:00,0:00:16,0.02,0.0,3616777,CHADEMO,CREDITCARD,2019-04-28,Sunday,True,False,False,0.0114,0.01
3998,A,DEVICE,2019-05-06 12:55:00,2019-05-06 12:55:00,0:00:20,0.03,0.0,3637871,CHADEMO,CREDITCARD,2019-05-06,Monday,False,True,False,0.0147,0.01
4046,A,MOBILE,2019-05-09 14:00:00,2019-05-09 14:00:00,0:00:17,0.02,0.0,3645870,CHADEMO,RFID,2019-05-09,Thursday,False,True,False,0.0098,0.01
4047,A,DEVICE,2019-05-09 14:16:00,2019-05-09 14:17:00,0:00:16,0.02,0.0,3645898,CHADEMO,CREDITCARD,2019-05-09,Thursday,False,True,False,0.0098,0.01
4048,A,DEVICE,2019-05-09 14:18:00,2019-05-09 14:18:00,0:00:17,0.02,0.0,3645899,CHADEMO,CREDITCARD,2019-05-09,Thursday,False,True,False,0.0098,0.01
4935,A,DEVICE,2019-06-23 20:25:00,2019-06-23 20:26:00,0:01:15,0.01,0.0,3759094,CHADEMO,CREDITCARD,2019-06-23,Sunday,True,False,False,0.0057,0.01
4962,A,DEVICE,2019-06-25 21:00:00,2019-06-25 21:00:00,0:00:13,0.01,0.0,3764555,CHADEMO,RFID,2019-06-25,Tuesday,True,False,False,0.0057,0.01
8008,B,DEVICE,2019-01-10 23:08:00,2019-01-10 23:09:00,0:00:16,0.02,0.0,3387845,CHADEMO,CREDITCARD,2019-01-10,Thursday,False,False,True,0.0108,0.01

In [16]:
err[np.abs(err['amount'] - err['rounded_calculated_amount']) > 1]

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode,date,day_of_week,on_peak,mid_day,off_peak,calculated_amount,rounded_calculated_amount
1119,A,DEVICE,2018-11-13 08:21:00,2018-11-12 16:43:00,-15:-38:-1,59.07,0.00,3288825,CHADEMO,CREDITCARD,2018-11-13,Tuesday,False,False,True,31.8978,31.90
1864,A,DEVICE,2019-01-09 16:01:00,2019-01-09 16:35:00,0:33:56,5.97,0.00,3385048,CHADEMO,CREDITCARD,2019-01-09,Wednesday,False,True,False,2.9253,2.93
1945,A,WEB,2019-01-13 11:31:00,2019-01-13 12:01:00,0:30:09,16.84,0.04,3391786,CHADEMO,RFID,2019-01-13,Sunday,False,True,False,8.2516,8.25
1990,A,WEB,2019-01-15 10:46:00,2019-01-15 11:13:00,0:27:21,13.38,0.00,3395084,CHADEMO,RFID,2019-01-15,Tuesday,False,True,False,6.5562,6.56
2093,A,WEB,2019-01-20 06:25:00,2019-01-20 06:53:00,0:28:04,15.59,0.00,3402921,CHADEMO,RFID,2019-01-20,Sunday,False,False,True,8.4186,8.42
2101,A,WEB,2019-01-20 14:07:00,2019-01-20 14:38:00,0:31:16,20.18,0.40,3403348,CHADEMO,RFID,2019-01-20,Sunday,False,True,False,9.8882,9.89
2109,A,DEVICE,2019-01-20 17:14:00,2019-01-20 17:58:00,0:44:20,12.48,0.00,3403532,CHADEMO,RFID,2019-01-20,Sunday,True,False,False,7.1136,7.11
2110,A,DEVICE,2019-01-20 17:58:00,2019-01-20 18:34:00,0:35:19,4.09,0.00,3403561,CHADEMO,CREDITCARD,2019-01-20,Sunday,True,False,False,2.3313,2.33
2111,A,DEVICE,2019-01-20 18:34:00,2019-01-20 20:36:00,2:01:58,15.35,0.00,3403575,CHADEMO,CREDITCARD,2019-01-20,Sunday,True,False,False,8.7495,8.75
2161,A,WEB,2019-01-23 14:33:00,2019-01-23 15:02:00,0:29:17,18.67,0.00,3409736,CHADEMO,RFID,2019-01-23,Wednesday,False,True,False,9.1483,9.15
2220,A,WEB,2019-01-26 16:31:00,2019-01-26 17:01:00,0:29:59,17.52,0.00,3415957,CHADEMO,RFID,2019-01-26,Saturday,False,True,False,8.5848,8.58
2274,A,WEB,2019-01-29 21:39:00,2019-01-29 22:05:00,0:26:33,8.80,0.00,3420939,CHADEMO,RFID,2019-01-29,Tuesday,True,False,False,5.0160,5.02
2283,A,WEB,2019-01-30 15:38:00,2019-01-30 16:13:00,0:35:18,8.47,0.62,3423247,CHADEMO,RFID,2019-01-30,Wednesday,False,True,False,4.1503,4.15
2303,A,WEB,2019-01-31 21:36:00,2019-01-31 22:07:00,0:30:18,9.63,0.05,3425457,CHADEMO,RFID,2019-01-31,Thursday,True,False,False,5.4891,5.49
2315,A,WEB,2019-01-31 21:36:00,2019-01-31 22:07:00,0:30:18,9.63,0.05,3425457,CHADEMO,RFID,2019-01-31,Thursday,True,False,False,5.4891,5.49
2322,A,WEB,2019-02-01 10:34:00,2019-02-01 11:04:00,0:29:48,16.15,0.00,3426525,CHADEMO,RFID,2019-02-01,Friday,False,True,False,7.9135,7.91
2348,A,WEB,2019-02-03 06:25:00,2019-02-03 06:53:00,0:27:43,11.36,0.00,3428832,CHADEMO,RFID,2019-02-03,Sunday,False,False,True,6.1344,6.13
2380,A,WEB,2019-02-06 14:10:00,2019-02-06 14:40:00,0:29:57,19.46,0.00,3435653,CHADEMO,RFID,2019-02-06,Wednesday,False,True,False,9.5354,9.54
2406,A,WEB,2019-02-08 10:15:00,2019-02-08 10:46:00,0:30:04,18.00,0.02,3439791,CHADEMO,RFID,2019-02-08,Friday,False,True,False,8.8200,8.82
2430,A,WEB,2019-02-10 09:40:00,2019-02-10 09:50:00,0:09:40,6.88,0.00,3442677,CHADEMO,RFID,2019-02-10,Sunday,False,True,False,3.3712,3.37
2445,A,WEB,2019-02-11 08:35:00,2019-02-11 09:05:00,0:30:06,19.00,0.03,3444267,CHADEMO,RFID,2019-02-11,Monday,False,False,True,10.2600,10.26
2493,A,WEB,2019-02-14 14:18:00,2019-02-14 14:48:00,0:30:20,18.46,0.10,3450804,CHADEMO,RFID,2019-02-14,Thursday,False,True,False,9.0454,9.05
2558,A,WEB,2019-02-17 15:40:00,2019-02-17 16:01:00,0:20:57,15.42,0.00,3455897,CHADEMO,RFID,2019-02-17,Sunday,False,True,False,7.5558,7.56
2589,A,WEB,2019-02-19 06:18:00,2019-02-19 06:25:00,0:06:47,4.76,0.00,3458600,CHADEMO,RFID,2019-02-19,Tuesday,False,False,True,2.5704,2.57
2590,A,WEB,2019-02-19 06:35:00,2019-02-19 06:52:00,0:17:38,12.16,0.00,3458648,CHADEMO,RFID,2019-02-19,Tuesday,False,False,True,6.5664,6.57
2598,A,WEB,2019-02-19 15:41:00,2019-02-19 16:12:00,0:30:24,17.46,0.11,3459906,CHADEMO,RFID,2019-02-19,Tuesday,False,True,False,8.5554,8.56
2631,A,WEB,2019-02-21 21:11:00,2019-02-21 21:43:00,0:32:27,20.04,0.86,3466198,CHADEMO,RFID,2019-02-21,Thursday,True,False,False,11.4228,11.42
2654,A,WEB,2019-02-23 09:41:00,2019-02-23 10:10:00,0:29:18,16.42,0.00,3468834,CHADEMO,RFID,2019-02-23,Saturday,False,True,False,8.0458,8.05
2679,A,WEB,2019-02-23 21:50:00,2019-02-23 22:20:00,0:30:19,19.57,0.12,3469804,CHADEMO,RFID,2019-02-23,Saturday,True,False,False,11.1549,11.15
2751,A,WEB,2019-02-26 05:34:00,2019-02-26 06:04:00,0:30:19,18.52,0.10,3473875,CHADEMO,RFID,2019-02-26,Tuesday,False,False,True,10.0008,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9959,B,DEVICE,2019-08-06 05:54:00,2019-08-06 06:20:00,0:26:38,16.40,0.00,3876296,CHADEMO,RFID,2019-08-06,Tuesday,False,False,True,8.8560,8.86
9962,B,DEVICE,2019-08-06 10:07:00,2019-08-06 10:37:00,0:29:35,19.62,0.00,3877158,CHADEMO,RFID,2019-08-06,Tuesday,False,True,False,9.6138,9.61
10008,B,DEVICE,2019-08-08 13:47:00,2019-08-08 14:17:00,0:30:07,16.52,0.03,3884440,CHADEMO,RFID,2019-08-08,Thursday,False,True,False,8.0948,8.09
10014,B,DEVICE,2019-08-08 17:13:00,2019-08-08 17:43:00,0:30:13,16.83,0.07,3884943,CHADEMO,RFID,2019-08-08,Thursday,True,False,False,9.5931,9.59
10018,B,WEB,2019-08-08 19:55:00,2019-08-08 20:19:00,0:24:10,17.29,0.00,3885155,CHADEMO,RFID,2019-08-08,Thursday,True,False,False,9.8553,9.86
10027,B,DEVICE,2019-08-09 07:42:00,2019-08-09 08:11:00,0:29:16,17.64,0.00,3886641,CHADEMO,RFID,2019-08-09,Friday,False,False,True,9.5256,9.53
10081,B,WEB,2019-08-11 11:44:00,2019-08-11 12:14:00,0:30:10,20.23,0.05,3891762,CHADEMO,RFID,2019-08-11,Sunday,False,True,False,9.9127,9.91
10105,B,WEB,2019-08-12 07:50:00,2019-08-12 08:20:00,0:30:07,15.39,0.03,3894048,CHADEMO,RFID,2019-08-12,Monday,False,False,True,8.3106,8.31
10117,B,DEVICE,2019-08-12 14:01:00,2019-08-12 14:32:00,0:30:11,13.77,0.04,3895208,CHADEMO,RFID,2019-08-12,Monday,False,True,False,6.7473,6.75
10187,B,DEVICE,2019-08-15 10:14:00,2019-08-15 10:24:00,0:10:21,7.21,0.00,3905764,CHADEMO,RFID,2019-08-15,Thursday,False,True,False,3.5329,3.53
10208,B,DEVICE,2019-08-15 16:47:00,2019-08-15 17:17:00,0:30:15,16.71,0.07,3906919,CHADEMO,RFID,2019-08-15,Thursday,False,True,False,8.1879,8.19
10217,B,DEVICE,2019-08-16 14:29:00,2019-08-16 14:46:00,0:17:02,12.50,0.00,3909903,CHADEMO,RFID,2019-08-16,Friday,False,True,False,6.1250,6.12
10242,B,DEVICE,2019-08-16 19:48:00,2019-08-16 20:17:00,0:29:33,14.51,0.00,3910579,CHADEMO,RFID,2019-08-16,Friday,True,False,False,8.2707,8.27
10324,B,DEVICE,2019-08-21 10:36:00,2019-08-21 11:07:00,0:30:19,20.59,0.11,3923922,CHADEMO,RFID,2019-08-21,Wednesday,False,True,False,10.0891,10.09
10330,B,DEVICE,2019-08-21 15:55:00,2019-08-21 16:34:00,0:38:53,21.57,2.41,3924891,CHADEMO,RFID,2019-08-21,Wednesday,False,True,False,10.5693,10.57
10340,B,DEVICE,2019-08-22 14:27:00,2019-08-22 14:57:00,0:29:53,17.52,0.00,3928557,CHADEMO,RFID,2019-08-22,Thursday,False,True,False,8.5848,8.58
10341,B,DEVICE,2019-08-22 14:57:00,2019-08-22 15:30:00,0:32:29,9.49,0.36,3928648,CHADEMO,RFID,2019-08-22,Thursday,False,True,False,4.6501,4.65
10344,B,DEVICE,2019-08-23 06:23:00,2019-08-23 06:53:00,0:29:16,17.58,0.00,3930747,CHADEMO,RFID,2019-08-23,Friday,False,False,True,9.4932,9.49
10345,B,DEVICE,2019-08-23 06:55:00,2019-08-23 07:26:00,0:31:17,22.20,0.49,3930852,CHADEMO,RFID,2019-08-23,Friday,False,False,True,11.9880,11.99
10357,B,DEVICE,2019-08-24 13:37:00,2019-08-24 14:06:00,0:28:30,12.09,0.00,3934791,CHADEMO,RFID,2019-08-24,Saturday,False,True,False,5.9241,5.92
10358,B,DEVICE,2019-08-24 14:06:00,2019-08-24 14:37:00,0:30:16,2.59,0.01,3934846,CHADEMO,RFID,2019-08-24,Saturday,False,True,False,1.2691,1.27
10369,B,DEVICE,2019-08-25 14:36:00,2019-08-25 15:06:00,0:29:47,10.62,0.00,3937032,CHADEMO,RFID,2019-08-25,Sunday,False,True,False,5.2038,5.20
10372,B,DEVICE,2019-08-25 15:55:00,2019-08-25 16:20:00,0:25:20,15.42,0.00,3937352,CHADEMO,RFID,2019-08-25,Sunday,False,True,False,7.5558,7.56
10389,B,DEVICE,2019-08-26 21:07:00,2019-08-26 21:37:00,0:29:51,14.41,0.00,3941277,CHADEMO,RFID,2019-08-26,Monday,True,False,False,8.2137,8.21
10411,B,DEVICE,2019-08-29 08:56:00,2019-08-29 09:12:00,0:15:18,9.92,0.00,3951272,CHADEMO,RFID,2019-08-29,Thursday,False,False,True,5.3568,5.36
10421,B,DEVICE,2019-08-29 15:14:00,2019-08-29 15:43:00,0:28:58,17.15,0.00,3952735,CHADEMO,RFID,2019-08-29,Thursday,False,True,False,8.4035,8.40
10423,B,DEVICE,2019-08-29 19:42:00,2019-08-29 20:12:00,0:30:02,13.84,0.01,3953290,CHADEMO,RFID,2019-08-29,Thursday,True,False,False,7.8888,7.89
10428,B,DEVICE,2019-08-30 11:34:00,2019-08-30 12:03:00,0:28:51,13.97,0.00,3955631,CHADEMO,RFID,2019-08-30,Friday,False,True,False,6.8453,6.85
10449,B,WEB,2019-08-31 16:17:00,2019-08-31 16:39:00,0:21:33,15.93,0.00,3958834,CHADEMO,RFID,2019-08-31,Saturday,False,True,False,7.8057,7.81
10451,B,DEVICE,2019-08-31 20:26:00,2019-08-31 20:54:00,0:28:15,20.33,0.00,3959233,CHADEMO,RFID,2019-08-31,Saturday,True,False,False,11.5881,11.59

In [17]:
df = df.rename({'rounded_calculated_amount': 'correct_amount'}, axis=1)
df['error_rounding'] = np.abs(df['amount'] - df['correct_amount']) == 0.01
df['error_calculation'] = np.abs(df['amount'] - df['correct_amount']) > 0.01
df.head()

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode,date,day_of_week,on_peak,mid_day,off_peak,calculated_amount,correct_amount,error_rounding,error_calculation
0,A,MOBILE,2018-09-01 07:25:00,2018-09-01 07:53:00,0:28:29,8.84,4.77,3168811,CHADEMO,RFID,2018-09-01,Saturday,False,False,True,4.7736,4.77,False,False
1,A,MOBILE,2018-09-01 08:03:00,2018-09-01 08:34:00,0:31:18,22.02,11.89,3168847,CHADEMO,CREDITCARD,2018-09-01,Saturday,False,False,True,11.8908,11.89,False,False
2,A,MOBILE,2018-09-01 10:24:00,2018-09-01 10:25:00,0:00:18,0.00,0.00,3169011,CHADEMO,RFID,2018-09-01,Saturday,False,True,False,0.0000,0.00,False,False
3,A,MOBILE,2018-09-01 10:26:00,2018-09-01 11:02:00,0:36:04,23.80,11.66,3169015,CHADEMO,RFID,2018-09-01,Saturday,False,True,False,11.6620,11.66,False,False
4,A,MOBILE,2018-09-01 11:07:00,2018-09-01 11:39:00,0:31:17,9.87,4.84,3169054,CHADEMO,RFID,2018-09-01,Saturday,False,True,False,4.8363,4.84,False,False

In [18]:
df[df['error_rounding']]

,name,session_type,start_time,end_time,duration,energy,amount,id,port_type,payment_mode,date,day_of_week,on_peak,mid_day,off_peak,calculated_amount,correct_amount,error_rounding,error_calculation
3187,A,MOBILE,2019-03-19 09:34:00,2019-03-19 09:35:00,0:00:23,0.02,0.0,3524654,CHADEMO,RFID,2019-03-19,Tuesday,False,True,False,0.0098,0.01,True,False
3847,A,DEVICE,2019-04-28 17:46:00,2019-04-28 17:47:00,0:00:16,0.02,0.0,3616777,CHADEMO,CREDITCARD,2019-04-28,Sunday,True,False,False,0.0114,0.01,True,False
3998,A,DEVICE,2019-05-06 12:55:00,2019-05-06 12:55:00,0:00:20,0.03,0.0,3637871,CHADEMO,CREDITCARD,2019-05-06,Monday,False,True,False,0.0147,0.01,True,False
4046,A,MOBILE,2019-05-09 14:00:00,2019-05-09 14:00:00,0:00:17,0.02,0.0,3645870,CHADEMO,RFID,2019-05-09,Thursday,False,True,False,0.0098,0.01,True,False
4047,A,DEVICE,2019-05-09 14:16:00,2019-05-09 14:17:00,0:00:16,0.02,0.0,3645898,CHADEMO,CREDITCARD,2019-05-09,Thursday,False,True,False,0.0098,0.01,True,False
4048,A,DEVICE,2019-05-09 14:18:00,2019-05-09 14:18:00,0:00:17,0.02,0.0,3645899,CHADEMO,CREDITCARD,2019-05-09,Thursday,False,True,False,0.0098,0.01,True,False
4935,A,DEVICE,2019-06-23 20:25:00,2019-06-23 20:26:00,0:01:15,0.01,0.0,3759094,CHADEMO,CREDITCARD,2019-06-23,Sunday,True,False,False,0.0057,0.01,True,False
4962,A,DEVICE,2019-06-25 21:00:00,2019-06-25 21:00:00,0:00:13,0.01,0.0,3764555,CHADEMO,RFID,2019-06-25,Tuesday,True,False,False,0.0057,0.01,True,False
8008,B,DEVICE,2019-01-10 23:08:00,2019-01-10 23:09:00,0:00:16,0.02,0.0,3387845,CHADEMO,CREDITCARD,2019-01-10,Thursday,False,False,True,0.0108,0.01,True,False

In [19]:
for col in ['session_type', 'port_type', 'payment_mode']:
    df[col] = df[col].astype('category')
df.dtypes

name                         object
session_type               category
start_time           datetime64[ns]
end_time             datetime64[ns]
duration                     object
energy                      float64
amount                      float64
id                            int64
port_type                  category
payment_mode               category
date                         object
day_of_week                  object
on_peak                        bool
mid_day                        bool
off_peak                       bool
calculated_amount           float64
correct_amount              float64
error_rounding                 bool
error_calculation              bool
dtype: object

In [20]:
preproc_df = df.join(pd.get_dummies(df.select_dtypes('category')))
# preproc_df = preproc_df.join(pd.get_dummies(df['name']))

# Drop original categorical columns in favor of the "One Hot Encoding"
preproc_df = preproc_df.drop(df.select_dtypes('category'), axis=1)
# preproc_df['start_time'] = pd.to_timedelta(preproc_df['start_time'])
# preproc_df['end_time'] = pd.to_timedelta(preproc_df['end_time'])
# preproc_df['correct_duration'] = preproc_df['end_time'].dt.total_seconds() - preproc_df['start_time'].dt.total_seconds()

def get_sec(time_str):
    """Get Seconds from time."""
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

preproc_df['correct_duration'] = preproc_df['duration'].apply(lambda x: get_sec(x))

preproc_df = preproc_df.drop(['id', 'start_time', 'end_time', 'calculated_amount'], axis=1)

preproc_df.head()

,name,duration,energy,amount,date,day_of_week,on_peak,mid_day,off_peak,correct_amount,error_rounding,error_calculation,session_type_DEVICE,session_type_MOBILE,session_type_WEB,port_type_CHADEMO,port_type_DCCOMBOTYP1,payment_mode_CREDITCARD,payment_mode_RFID,correct_duration
0,A,0:28:29,8.84,4.77,2018-09-01,Saturday,False,False,True,4.77,False,False,0,1,0,1,0,0,1,1709
1,A,0:31:18,22.02,11.89,2018-09-01,Saturday,False,False,True,11.89,False,False,0,1,0,1,0,1,0,1878
2,A,0:00:18,0.00,0.00,2018-09-01,Saturday,False,True,False,0.00,False,False,0,1,0,1,0,0,1,18
3,A,0:36:04,23.80,11.66,2018-09-01,Saturday,False,True,False,11.66,False,False,0,1,0,1,0,0,1,2164
4,A,0:31:17,9.87,4.84,2018-09-01,Saturday,False,True,False,4.84,False,False,0,1,0,1,0,0,1,1877

In [21]:
df_agg = preproc_df.groupby(['name', 'date']).agg('sum').reset_index()
# df_agg.columns = df_agg.columns.to_flat_index()
# df_agg.columns
df_agg['energy'] = np.round(df_agg['energy'],2)
df_agg['amount'] = np.round(df_agg['amount'],2)
df_agg['correct_amount'] = np.round(df_agg['correct_amount'],2)

In [23]:
df_agg

,name,date,energy,amount,on_peak,mid_day,off_peak,correct_amount,error_rounding,error_calculation,session_type_DEVICE,session_type_MOBILE,session_type_WEB,port_type_CHADEMO,port_type_DCCOMBOTYP1,payment_mode_CREDITCARD,payment_mode_RFID,correct_duration
0,A,2018-09-01,218.31,115.78,7.0,8.0,2.0,115.78,0.0,0.0,7,10,0,17,0,11,6,25580
1,A,2018-09-02,192.29,102.15,2.0,12.0,3.0,102.15,0.0,0.0,4,13,0,17,0,9,8,27692
2,A,2018-09-03,182.25,93.60,3.0,4.0,2.0,93.60,0.0,0.0,3,6,0,7,2,7,2,25673
3,A,2018-09-04,110.14,56.83,1.0,5.0,1.0,56.83,0.0,0.0,1,6,0,7,0,3,4,13489
4,A,2018-09-05,295.22,156.20,6.0,8.0,3.0,156.20,0.0,0.0,4,13,0,14,3,8,9,38217
5,A,2018-09-06,192.39,100.06,4.0,8.0,3.0,100.06,0.0,0.0,3,12,0,15,0,10,5,23664
6,A,2018-09-07,339.39,176.17,2.0,9.0,6.0,176.18,0.0,1.0,0,17,0,15,2,9,8,39557
7,A,2018-09-08,286.65,149.58,5.0,9.0,2.0,149.59,0.0,1.0,9,7,0,15,1,12,4,30498
8,A,2018-09-09,188.30,96.59,5.0,10.0,4.0,96.59,0.0,0.0,4,14,1,16,3,12,7,24574
9,A,2018-09-10,198.49,103.95,4.0,12.0,3.0,103.95,0.0,0.0,7,12,0,17,2,9,10,22465
10,A,2018-09-11,272.43,141.50,5.0,8.0,8.0,141.50,0.0,0.0,5,14,2,19,2,6,15,35786
11,A,2018-09-12,66.90,34.86,1.0,4.0,2.0,34.86,0.0,0.0,2,5,0,6,1,3,4,11394
12,A,2018-09-13,301.33,160.80,8.0,11.0,1.0,160.78,0.0,0.0,9,11,0,17,3,15,5,39180
13,A,2018-09-14,293.82,155.03,6.0,12.0,2.0,155.03,0.0,0.0,10,10,0,18,2,16,4,38330
14,A,2018-09-15,247.13,128.97,3.0,9.0,6.0,128.97,0.0,0.0,8,10,0,18,0,15,3,33073
15,A,2018-09-16,250.54,128.46,3.0,15.0,1.0,128.46,0.0,0.0,10,9,0,17,2,17,2,28431
16,A,2018-09-17,241.45,125.91,4.0,6.0,2.0,125.91,0.0,0.0,3,9,0,10,2,8,4,27858
17,A,2018-09-18,191.41,104.20,6.0,9.0,4.0,104.20,0.0,0.0,4,15,0,16,3,11,8,25018
18,A,2018-09-19,293.23,158.94,4.0,5.0,5.0,158.94,0.0,0.0,6,8,0,14,0,10,4,33044
19,A,2018-09-20,286.87,152.89,5.0,9.0,5.0,152.89,0.0,0.0,4,15,0,17,2,10,9,33835
20,A,2018-09-21,246.97,128.78,4.0,5.0,2.0,128.78,0.0,0.0,4,7,0,10,1,9,2,27606
21,A,2018-09-22,242.34,124.13,2.0,12.0,2.0,124.14,0.0,0.0,4,11,1,15,1,12,4,29667
22,A,2018-09-23,287.04,149.82,3.0,8.0,3.0,149.83,0.0,0.0,6,8,0,12,2,10,4,29765
23,A,2018-09-24,212.58,109.47,4.0,5.0,3.0,109.47,0.0,0.0,4,8,0,11,1,7,5,25374
24,A,2018-09-25,238.21,125.53,5.0,8.0,4.0,125.52,0.0,1.0,5,12,0,15,2,12,5,29717
25,A,2018-09-26,282.21,149.81,5.0,4.0,5.0,149.81,0.0,0.0,5,9,0,14,0,8,6,32947
26,A,2018-09-27,205.68,106.76,5.0,8.0,4.0,106.76,0.0,0.0,3,14,0,16,1,9,8,30338
27,A,2018-09-28,321.57,168.28,3.0,11.0,4.0,168.28,0.0,0.0,2,16,0,18,0,12,6,34176
28,A,2018-09-29,199.65,106.49,6.0,6.0,9.0,106.49,0.0,0.0,6,15,0,20,1,10,11,31365
29,A,2018-09-30,217.01,114.94,3.0,6.0,3.0,114.94,0.0,0.0,6,6,0,12,0,5,7,28776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,B,2019-08-02,112.92,43.06,5.0,27.0,12.0,58.60,0.0,3.0,23,17,4,44,0,22,22,13559
642,B,2019-08-03,135.87,69.28,1.0,20.0,2.0,69.28,0.0,0.0,15,8,0,23,0,15,8,14232
643,B,2019-08-04,52.54,17.95,15.0,28.0,3.0,26.37,0.0,1.0,16,21,9,46,0,19,27,7450
644,B,2019-08-05,105.67,43.84,9.0,31.0,5.0,56.53,0.0,2.0,38,6,1,45,0,29,16,12960
645,B,2019-08-06,205.11,86.54,0.0,19.0,4.0,105.01,0.0,2.0,20,3,0,23,0,18,5,19442
646,B,2019-08-07,40.56,21.30,12.0,8.0,1.0,21.30,0.0,0.0,13,6,2,21,0,14,7,4684
647,B,2019-08-08,159.88,56.67,11.0,7.0,6.0,84.11,0.0,3.0,13,10,1,24,0,10,14,18517
648,B,2019-08-09,133.31,59.09,3.0,5.0,3.0,68.62,0.0,1.0,4,7,0,11,0,3,8,17024
649,B,2019-08-10,77.29,39.27,8.0,9.0,13.0,39.27,0.0,0.0,20,9,1,30,0,27,3,11754
650,B,2019-08-11,108.13,44.58,4.0,21.0,9.0,54.44,0.0,1.0,22,10,2,34,0,18,16,12120
651,B,2019-08-12,138.46,55.65,4.0,9.0,12.0,70.64,0.0,2.0,12,11,2,25,0,14,11,20030
652,B,2019-08-13,100.87,53.50,9.0,17.0,1.0,53.50,0.0,0.0,7,18,2,27,0,18,9,13006
653,B,2019-08-14,79.93,42.20,16.0,7.0,5.0,42.20,0.0,0.0,15,12,1,28,0,10,18,9453
654,B,2019-08-15,166.13,72.35,7.0,24.0,4.0,84.00,0.0,2.0,18,14,3,35,0,22,13,19046
655,B,2019-08-16,163.19,72.18,22.0,12.0,1.0,86.57,0.0,2.0,26,7,2,35,0,24,11,15422
656,B,2019-08-17,29.99,14.70,5.0,37.0,3.0,14.70,0.0,0.0,17,23,5,45,0,35,10,3188
657,B,2019-08-18,66.68,35.52,1.0,6.0,4.0,35.53,0.0,0.0,7,1,3,11,0,4,7,7527
658,B,2019-08-19,56.28,28.41,1.0,3.0,0.0,28.41,0.0,0.0,2,2,0,4,0,4,0,7389
659,B,2019-08-20,171.90,90.00,7.0,4.0,1.0,90.00,0.0,0.0,3,8,1,12,0,5,7,22919
660,B,2019-08-21,130.94,49.80,4.0,8.0,0.0,67.95,0.0,2.0,7,5,0,12,0,5,7,15587
661,B,2019-08-22,190.93,85.33,1.0,6.0,2.0,98.21,0.0,3.0,4,5,0,9,0,6,3,20137
662,B,2019-08-23,182.11,76.01,4.0,6.0,3.0,97.00,0.0,2.0,9,4,0,13,0,8,5,21324
663,B,2019-08-24,93.94,40.40,4.0,4.0,0.0,47.58,0.0,2.0,5,3,0,8,0,5,3,11699
664,B,2019-08-25,171.37,78.35,4.0,7.0,2.0,91.11,0.0,2.0,7,6,0,13,0,6,7,23581
665,B,2019-08-26,197.81,92.19,3.0,8.0,1.0,100.41,0.0,2.0,6,6,0,12,0,8,4,23370
666,B,2019-08-27,163.22,83.27,3.0,6.0,1.0,83.27,0.0,0.0,2,8,0,10,0,5,5,15939
667,B,2019-08-28,111.51,56.78,1.0,6.0,2.0,56.78,0.0,0.0,4,5,0,9,0,7,2,14971
668,B,2019-08-29,232.71,98.26,5.0,10.0,3.0,120.85,0.0,4.0,9,9,0,18,0,10,8,26775
669,B,2019-08-30,235.69,119.82,5.0,5.0,1.0,126.67,0.0,1.0,7,4,0,11,0,7,4,29789
670,B,2019-08-31,160.02,61.66,1.0,11.0,2.0,81.07,0.0,2.0,9,4,1,14,0,8,6,18446

In [22]:
df_agg.to_csv('historical.csv',index=False)